<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://wcdn.numelon.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/img/hearts/heart.red.svg" />

    <meta name="theme-color" content="#981817">

    <!-- sklair:ordering-barrier treat-as=script -->
    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="/assets/styles/tailwind.config.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/themes.css">
    <!-- sklair:ordering-barrier-end -->

    <script src=" https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>
</head>

<body>
</body>

</html>