<!DOCTYPE html>
<html data-theme="red">

<head>
    <!-- sklair:remove -->
    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="/assets/styles/tailwind.config.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/themes.css">

    <script src=" https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>
    <!-- sklair:remove-end -->

    <link rel="stylesheet" href="/component-assets/HeartLayer/HeartLayer.css">
</head>

<body class="bg-bg font-primary text-muted">
    <div id="heart-layer" class="absolute inset-0 pointer-events-none overflow-hidden"></div>
    <script src="/component-assets/HeartLayer/HeartLayer.js"></script>
</body>

</html>