<!DOCTYPE html>
<html data-theme="red">

<head>
    <!-- sklair:remove -->
    <style>
        body {
            background: black;
        }
    </style>

    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="/assets/styles/tailwind.config.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/themes.css">

    <script src=" https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>
    <!-- sklair:remove-end -->
</head>

<body>
    <footer class="bg-black border-t border-border/10 backdrop-blur">
        <div class="max-w-[110rem] mx-auto px-6 py-8 flex items-center justify-between">

            <!-- left side -->
            <div class="flex items-center gap-4">
                <a href="/" class="flex items-center">
                    <img src="/assets/branding/voxlis.red.png" alt="voxlis.NET" class="h-12 select-none" />
                </a>
                <span class="text-muted text-sm">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> voxlis.NET. All rights reserved.
                </span>
            </div>

            <!-- right side -->
            <div class="flex items-center gap-6 text-sm text-muted">
                <a href="/suggest" class="hover:text-white transition">Make A Suggestion</a>
                <a href="https://github.com/localscripts/voxlis.NET" class="hover:text-white transition">
                    GitHub Repository
                </a>
            </div>

        </div>
    </footer>
</body>

</html>