<!DOCTYPE html>
<html data-theme="red">

<head>
    <!-- sklair:remove -->
    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="/assets/styles/tailwind.config.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/themes.css">

    <script src=" https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>

    <script src="/assets/js/ThemeSync.js" defer></script>
    <!-- sklair:remove-end -->
</head>

<body class="bg-bg font-primary text-muted">
    <header id="menubar" class="fixed top-0 left-0 right-0 z-50 bg-bg backdrop-blur border-b border-border/10">

        <!-- responsive layout as outlined below: -->
        <!-- on mobile, the two bars act as normal, stacking on top of eachother. search bar is full width. -->
        <!-- on desktop however, the second bar becomes absolute and therefore stacks ON TOP of the first bar -->
        <!-- since the search bar is centered in both instances, (including on desktop), this gives the "illusion" (not really) that the search bar is in the middle -->

        <!-- first bar -->
        <div class="h-20 max-w-content mx-auto px-6 flex items-center justify-between relative">

            <!-- left area -->
            <div class="flex items-center gap-3">
                <a href="/" class="flex items-center">
                    <img src="/assets/branding/voxlis.red.png" alt="voxlis.NET" class="h-10 select-none voxlis-logo" />
                </a>
            </div>

            <!-- right area -->
            <div class="flex items-center gap-5 text-muted">
                <a href="/r/discord" class="hover:text-white transition">
                    <i class="fa-brands fa-discord text-lg"></i>
                </a>
                <a href="/r/youtube" class="hover:text-white transition">
                    <i class="fa-brands fa-youtube text-lg"></i>
                </a>
                <a id="theme-button" class="hover:text-white text-bg transition cursor-pointer rainbow-glow">
                    <i class="fa-solid fa-paintbrush text-lg"></i>
                </a>
            </div>

        </div>

        <!-- TODO: add sklair compiler directive to only include this when menubar=true (prop) -->
        <!-- second bar, search -->
        <div class="
            relative
            max-w-content mx-auto px-6
            flex justify-center items-center

            /* stacked on mobile and tablet */
            h-16

            /* acts as an overlay on desktop */
            lg:absolute
            lg:inset-x-0
            lg:top-0
            lg:h-20
            lg:pointer-events-none
        ">
            <div class="
                w-full
                lg:w-[28rem]
                relative
                lg:pointer-events-auto
            ">
                <i class="fa-solid fa-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-muted"></i>
                <input id="cheat-search" type="text" placeholder="Search cheats..." class="
                    w-full
                    bg-surface/40
                    border border-border/10
                    rounded-lg
                    pl-11 pr-4 py-2
                    text-sm text-fg placeholder-muted
                    transition-all duration-500
                    focus:outline-none
                    focus:border-primary/60
                    focus:shadow-glow
                " />
            </div>
        </div>

    </header>

    <!-- spoacer -->
    <div class="h-[8.5rem] lg:h-20"></div>
</body>

</html>