<!DOCTYPE html>
<html data-theme="red">

<head>
    <!-- sklair:remove -->
    <style>
        body {
            background: black;
        }
    </style>

    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="/assets/styles/tailwind.config.js"></script>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/themes.css">

    <script src=" https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>
    <!-- sklair:remove-end -->

    <script src="/component-assets/SponsoredAd/SponsoredAd.js"></script>
</head>

<body>
    <div class="bg-surface/40 border border-border/10 rounded-card shadow-soft p-4
             transition-all duration-500
             hover:border-primary/60
             hover:shadow-glow">
        <div class="text-xs uppercase tracking-widest text-muted mb-2">
            Sponsored
        </div>

        <div class="overflow-hidden rounded-md">
            <img alt="Sponsored" class="w-full block sponsored-image" />
        </div>
    </div>

</body>

</html>